{% extends "_layout.html" %}
{% block main %}


<div class="main">
  <div class="more_about_me">

    <div class="page_name">
      <h1>More About Me</h1>
    </div>

    <div class="div_link_to_home">
      <a href="{{ url_for('main.home') }}"> Back home ...</a>
    </div>



    <div class="my_bio_div std_framing ">
      {% include "moreAboutMe.html" %}
    </div>
<br>
    <div class="my_bio_div std_framing">

      <div class="articles">

        Here are some articles I've written that say a lot about me:
        <br />
        <ul>
          <li><a href="https://medium.com/@nrodrig1/healthcare-is-not-up-to-date-2e58c01c1477">Healthcare is Not
            Up-To-Date</a></li>
          <li><a href="https://medium.com/@nrodrig1/a-hard-look-at-myself-a3a22f72519e">A Hard Look at Myself</a></li>
          <li><a href="https://medium.com/@nrodrig1/90-percent-positivity-10-percent-realism-43c237afe13b"> 90 Percent
              Positivity 10 Percent Realism</a></li>
        
        </ul>
      </div>

      <div class="bio_paragraph">
        Concepts that shape my life:
        <ul>
          <li>Ikigai</li>
          <li><a href="https://youtu.be/ZzaUGhhnlQ8">Wu Wei</a></li>
          <li>“Life can’t be just about solving problems. There has to be something that inspires.”</li>
        </ul>
      </div>



    </div>
    <br />

    <div class="my_resume_div std_framing" id="resume">
      <!-- Resume (coming soon) -->


      <!-- <iframe src="https://onedrive.live.com/embed?cid=60DF6D5FEED7AC60&resid=60DF6D5FEED7AC60%21427385&authkey=AO88z_jEs7Ytcho&em=2" width="100%" height="1000px" frameborder="0" scrolling="no"></iframe> -->



      <div id="doc2" class="yui-t7">
        <div id="inner">

          <div id="hd">
            <div class="yui-gc">
              <div class="yui-u first">
                <h1>Nick Rodriguez</h1>
                <h2>Full Stack Developer and Founder</h2>
              </div>

              <div class="yui-u">
                <div class="contact-info">
                  <!-- <h3><a id="pdf" href="#">Download PDF</a></h3> -->
                  <h3>nrodrig1@gmail.com</h3>
                  <h3>+33.07.66.68.03.09</h3>
                </div><!--// .contact-info -->
              </div>
            </div><!--// .yui-gc -->
          </div><!--// hd -->

          <div id="bd">
            <div id="yui-main">
              <div class="yui-b">





                <div class="yui-gf">

                  <!-- <div class="yui-u first"> -->
                    <h2>Experience</h2>
                  <!-- </div>// .yui-u -->

                  <div class="yui-u">

                    <div class="job">
                      <h2>What Sticks</h2>
                      <h3>Founder</h3>
                      <h4>2021-Present</h4>
                      <p>What Sticks (WS) is an application that helps navigate your wellness with data already being
                        collected by your other applications and devices. Visit here:
                        <a href="https://what-sticks.com/">what-sticks.com</a>.
                      </p>
                      Availible now to analyze your:
                      <ul>
                        <li class="last">Apple Health step count</li>
                        <li class="last">Oura Ring sleep quality</li>
                        <li class="last">Local weather</li>
                      </ul>
    
    
    

                    </div>

                    <div class="job">
                      <h2>Dashboards and Databases</h2>
                      <h3>Full Stack Developer</h3>
                      <h4>2020-Present</h4>
                      <ul>
                        <li class="last"> Write code for applications using Python, HTML, and CSS. Most applications are
                          in the form
                          of a website where users interact with a database through the website. <a
                            href="https://dashboardsanddatabases.com">dashboardsanddatabases.com</a>
                        </li>
                      </ul>




                    </div>

                    <div class="job">
                      <h2>US Federal Government</h2>
                      <h3>Economist</h3>
                      <h4>2012-2020</h4>
                      <ul>
                        <li>Team lead analyzing data from the Navy’s ship construction supply chain. In this role large
                          datasets and data analytics are used to answer questions about vulnerabilities of the supply
                          chain, review prices in proposals and measure price growth in the industry. </li>
                        <li>Lead analysis effort of proposals for new ship and repair construction using historical
                          purchase order data. Proposals often times have tens of thousands parts being sold. Using MS
                          Excel and MS Access based macros my team compares the proposal parts with the historical
                          purchase orders to assist with Navy negotiations. </li>
                        <li>Lead analysis effort for a proposal negotiation of price growth in new ship construction
                          projects. These projects use regression analysis, VBA programming, uncertainty analysis to
                          measure historical growth and forecast future growth of materials for construction. The
                          analysis involves calculating regressions on the prices of each part in the proposal with the
                          historical purchase records of those parts. This work is done in VBA and SAS’s JMP scripting
                          language. Price growth for each part is measured and compared with an assigned Bureau of Labor
                          Statistics (BLS) price index. This analysis for assigning a BLS index for price growth
                          requires that the part is qualitatively similar to the index and the growth is within an
                          acceptable range to indicate that the part is well represented by the index. A third part
                          forecast for the BLS indices are used and combined into a forecast that is used for the Navy’s
                          position in the negotiations. Uncertainty analysis based on the observed historical growth is
                          used to create forecast bounds. </li>
                        <li class="last"> Maintain, review and update the Navy’s annually released Shipbuilding
                          Composite Index (SCI). The SCI is referred to as the primary benchmark for US Navy new ship
                          construction price growth. This composite index combines price information from Navy cost
                          estimators, Department of Defense budget exhibits, survey data from the Navy’s shipbuilding
                          supplier base and BLS indices. </li>
                      </ul>
                      <!-- <p>Progressively reconceptualize multifunctional "outside the box" thinking through inexpensive
                        methods of empowerment. Compellingly morph extensive niche markets with mission-critical ideas.
                        Phosfluorescently deliver bricks-and-clicks strategic theme areas rather than scalable benefits.
                      </p> -->
                    </div>

                    <div class="job last">
                      <h2>ICF International</h2>
                      <h3>Economist - Wholesale Electricity Group</h3>
                      <h4>2009-2011</h4>
                      <ul>
                        <li>Forecasted electricity market using ICF International's proprietary linear program model of
                          US electricity markets. Led in various modeling preparation efforts, contributed analysis of
                          results, and wrote reports. Client projects included power plant valuations, energy price
                          forecasts, market share forecasts, and various other indicators. Clients were usually electric
                          utilities or regional transmission operators. This work required many data manipulations of
                          large text files. This often required the use of VBA programming. </li>
                        <li>Contributed to maintenance of database that feeds linear program model. Data updates were
                          researched through collaboration with other energy practice teams and data sources such as
                          electricity market coordinating organizations (ISO's and RTO's), electric companies and data
                          producers (Platt's, SNL, etc). </li>
                        <li>Lead in database development and made significant contributions to final published
                          analytical report for National Renewable Energy Laboratory (NREL). The project compared
                          technology costs and performance parameters across seven energy market models including
                          MARKAL, NEMS, GPRA, ReEDS, MERGE, MiniCAM, and EPA IPM. My deliverable included developing an
                          MS Excel front end that communicated with MS Access database using VBA. </li>
                        <li>Analyzed transmission and distribution avoided costs using spreadsheet and econometric
                          models. Regression models were used to project the expected costs of future transmission and
                          distribution investment based on utility and regional energy data.</li>
                        <li class="last">Assisted regional governments applying for American Recovery and Reinvestment
                          Act (ARRA) federal grants money for investments made on energy efficiency equipment and
                          infrastructure. In this role I provided guidance and expertise to officials on policies and
                          the application process for receiving federal funds. Energy efficient investments included
                          constructing or rebuilding public infrastructure, purchasing energy efficient vehicles for
                          public transportation, and various other qualifying investments.</li>
                      </ul>
                    </div>


                    <!-- <div class="job last">
                      <h2>International Business Machines (IBM)</h2>
                      <h3>Lead Web Designer</h3>
                      <h4>2001-2004</h4>
                      <p>Globally re-engineer cross-media schemas through viral methods of empowerment. Proactively grow
                        long-term high-impact human capital and highly efficient innovation. Intrinsicly iterate
                        excellent e-tailers with timely e-markets.</p>
                    </div> -->

                  </div><!--// .yui-u -->
                </div><!--// .yui-gf -->


                <!-- <div class="yui-gf last">
                  <div class="yui-u first"> -->
                    <h2>Education</h2>
                  <!-- </div>
                  <div class="yui-u"> -->
                    <h2>George Mason University - Fairfax, Virginia</h2>
                    <h3>BA, Economics </h3>
                    <h3>MA, Economics </h3>
                  </div>
                </div><!--// .yui-gf -->


              </div><!--// .yui-b -->
            </div><!--// yui-main -->
          </div><!--// bd -->

          <div id="ft">
            <p>Nick Rodriguez &mdash; nrodrig1@gmail.com &mdash; +33.07.66.68.03.09</p>
          </div><!--// footer -->

        </div><!-- // inner -->


      </div><!--// doc -->




    </div>


  </div>
</div>
<div id="includedContent"></div>

{% endblock %}