{% extends "_layout.html" %}
{% block main %}

<div class="main">
  <div class="rest_of_posts">
    <div class="page_name">
      <h1>Rest of my posts</h1>
    </div>
    <div class="div_link_to_home">
      <a href="{{ url_for('main.home') }}"> Back home ...</a>
    </div>
    <!-- <section class="home"> -->


    <div class="recent_posts">


      {% for post in display_post %}

      <a href="{{ post.url }}">

        <div class="{{ post.social_name }} standard_social">

          <div class="sub_title_date">
            {{ post.post_date }}
          </div>


          <div class="sub_title">

            <div class="standard_title">

              {% if post.social_name == "Github" %}

                <span class="span_dark">Repoository Name: </span>{{ post.title }}
                <br>
                <small>{{ post.description }}</small>

              {% elif post.social_name == "Goodreads" %}

                Just finished reading: <br> {{ post.title }}
                <br>
                <small> by {{ post.description }}</small>

              {% else %}

                {{ post.title }}

              {% endif %}
            </div>

            <div class="img_social_icon">
              <img src="../static/images/icons/{{ post.social_icon }}">
            </div>

          </div>



        </div>
      </a>
      {% endfor %}

      
      <div class="pagination_parent">
        <div class="pagination_section">

          {% if pagination_dict['current'] != 1 %}
          <a href="{{ url_for('main.rest_of_posts', pagination_position=pagination_dict['first'], size_of_lists_for_pagination=size_of_lists_for_pagination) }}" >First page</a>
  
          <a href="{{ url_for('main.rest_of_posts', pagination_position=pagination_dict['previous'], size_of_lists_for_pagination=size_of_lists_for_pagination) }}" >{{ pagination_dict['previous']  }}</a>
          {% endif %}
          <a href="#" class="active">{{ pagination_dict['current'] }}</a>

          {% if pagination_dict['current'] != number_of_pages %}
          <a href="{{ url_for('main.rest_of_posts', pagination_position=pagination_dict['next'], size_of_lists_for_pagination=size_of_lists_for_pagination) }}" >{{ pagination_dict['next'] }}</a>
  
          <a href="{{ url_for('main.rest_of_posts', pagination_position=pagination_dict['last_page'], size_of_lists_for_pagination=size_of_lists_for_pagination) }}" >Last page</a>
          {% endif %}
        </div>
      </div>



    </div>
    <div class="pagination_show">
      Show: 
      <a href="{{ url_for('main.rest_of_posts', pagination_position=1, size_of_lists_for_pagination=10) }}" >10</a>, 
      <a href="{{ url_for('main.rest_of_posts', pagination_position=1, size_of_lists_for_pagination=100) }}" >100</a>, 
      <a href="{{ url_for('main.rest_of_posts', pagination_position=1, size_of_lists_for_pagination=0) }}" >All</a>
    </div>

    <!-- </section> -->
  </div>
</div>


{% endblock %}