{% extends "_layout.html" %}

{% block title %}Blog{% endblock %}

{% block main %}

<div class="post_index">

    <div class="grid5_blog">
        <div class="std_framing">

            <div class="div_link_to_rest">
                <a href="{{ url_for('main.home') }}" id="go_home_link"> Go Home</a>
              </div>


          <div class="grid5_blog_title_super">
            {% if current_user.admin %}
            <a href="{{ url_for('blog.blog_user_home' ) }}" class="no_show">
              <div class="grid5_blog_title">Blog: Peak of <i>MT Stupid</i></div>
            </a>

            {% else %}
            <div class="grid5_blog_title">Blog: Peak of <i>MT Stupid</i></div>
            {% endif %}
            <div class="what_is_this_super">
              <a href="https://medium.com/towards-data-science/my-technical-writing-journey-14ea1ca18e79">
                <div class="what_is_this">
                  What is "MT Stupid"?
                </div><!-- what_is_this -->
              </a>
            </div><!-- what_is_this_super -->


          </div><!-- grid5_blog_title -->



          {% for post in blog_posts_list %}
          <div class="blogpost_super">
            <a href="{{ url_for('blog.view_post', post_id_name_string=post[3]) }}">

              <div class="blogpost">
                <div class="blogpost_date">
                  {{ post[0] }}
                </div>

                <div class="blogpost_title">
                  {{ post.1 }}
                </div>


                <div class="blogpost_description">
                  {{ post.2 }}
                </div>

              </div><!-- blogpost -->
            </a>
          </div><!-- blogpost_super -->


          {% endfor %}


        </div><!-- std_framing -->

      </div><!-- grid5_blog -->


</div>
{% endblock %}