{% extends "_layout.html" %}
{% block main %}

<div class="main">
  <div class="home_page">
    <div class="home_page_sub">

      <div class="grid1_hide_small">


        <div class="std_framing hide_small">
          <div class="image_div_lg">
            <img class="image_me_lg" src="../static/images/20200922_144128005_iOS_edited.jpg" alt="Picture of Nick">
          </div>


        </div>

      </div><!-- grid1_hide_small -->


      <div class="grid2_bio_and_ws ">

        <div class="page_title">
          <h1>Hi, I'm Nick &#128075</h1>
        </div>



        <div class="about_me std_framing">
          <div class="image_me_small_div">
            <img class="image_me_small" src="../static/images/20200922_144128005_iOS_edited.jpg" alt="Picture of Nick">
          </div><!-- image_me_small_div -->

          <div class="bio_paragraph">
            I am an <a href="https://www.whatisanindiemaker.com/">indie maker</a>.<br>
            I love to build things that serve others.
            <a href="{{ url_for('main.more_about_me') }}">More about me...</a>

          </div><!-- bio_paragraph -->
        </div><!-- about_me -->


        <div class="ws_div std_framing ">
          <div class="ws_div_sub">
            I am the founder of What Sticks (WS), an application that helps navigate your wellness with data already
            being collected by
            your
            other applications and devices.
            <a href="https://what-sticks.com">
              <img class="ws_logo_small" src="../static/images/wshLogo_300px_doodle02.png">

            </a>

            <div class="ws_paragraph">
              WS comes from a desire to leverage data that already exists in order to better
              understand our tendencies. I believe that WS can enhance our everyday applications and
              devices so they provide us with insights that really move the needle and improve our
              lives.
            </div><!-- ws_paragraph -->

          </div><!-- ws_div_sub -->
        </div><!-- ws_div -->


      </div><!-- grid2_bio_and_ws -->


      <div class=" grid3_recent_posts ">
        <div class="std_framing">

          <div class="recent_posts_title">
            <div class="recent_posts_title_sub">Recent Posts</div>
            <div class="what_is_this_super">
              <a href="https://github.com/costa-rica/socialAggregator02#readme">
                <div class="what_is_this">
                  What is this?
                </div><!-- what_is_this -->
              </a>
            </div><!-- what_is_this_super -->
          </div><!-- recent_posts_title -->


          <div class="post_shell">
            {% for post in display_post %}
            {% if post.counter %}


            <div class="bubble_super">
              <div class="{{ post.social_name }} bubble_count">
                <div class="bubble_title">
                  {{ post.counter }} posts from {{ post.social_name }}
                </div>

                <div class="img_social_icon">
                  <img class="img_bubble" src="../static/images/icons/{{ post.social_icon }}">
                </div>

              </div><!-- post.social_name bubble_count -->
            </div><!-- bubble_super -->


            {% else %}
            <div class="post_social_super {{ post.social_name }}">

                <a href="{{ post.url }}">

                    <div class="post_social_date">
                      {{ post.post_date }}
                    </div>

  
                    <div class="post_social_content"><!-- sub_title-->
  
                      <div class="standard_title">
                        {% if post.social_name == "Github" %}
                        <span class="span_dark">Repoository Name: </span>{{ post.title }}
                        <br>
                        <small>{{ post.description }}</small>
                        {% elif post.social_name == "Goodreads" %}
                        Just finished reading: <br>{{ post.title }}
                        <br>
                        <small>by {{ post.description }}</small>
                        {% else %}
                        {{ post.title }}
                        {% endif %}
                      </div><!-- standard_title -->
  
                      <div class="img_social_icon">
                        <img class="img_social" src="../static/images/icons/{{ post.social_icon }}">
                      </div><!-- img_social_icon -->
  
                    </div><!-- post_social_content -->
                    
                </a><!-- post.url -->
                          
            </div><!-- post_social_name_super -->
            {% endif %}

            {% endfor %}
          </div><!-- post_shell -->

          <div class="div_link_to_rest">
            <a href="{{ url_for('main.rest_of_posts', pagination_position=1, size_of_lists_for_pagination=10) }}"> See
              more here ...</a>
          </div>


        </div><!-- std_framing -->
      </div><!-- grid3_recent_posts -->


      <div class="grid4_handles_div">
        <div class="std_framing handles_div">
          <div class="handles_div_sub">

          
          <div class="handle_std ">
            Medium: <a href="https://medium.com/@nrodrig1">Nick Rodriguez</a>
          </div>
  
          <!-- <br> -->
          <div class="handle_std">
            Twitter: <a href="https://twitter.com/EvryMnRodriguez">@EvryMnRodriguez</a>
          </div>
  
          <!-- <br> -->
          <div class="handle_std">
            Github: <a href="https://github.com/costa-rica">costa-rica</a>
          </div>
  
          <!-- <br> -->
          <div class="handle_std">
            LinkedIn: <a href="https://www.linkedin.com/in/nick-rodriguez-0a31a133/">Nick Rodriguez</a>
          </div>
  
          <!-- <br> -->
          <div class="handle_std">
            Goodreads: <a href="https://www.goodreads.com/costa-rica">costa-rica</a>
          </div>
  
          <!-- <br> -->
          <div class="handle_std">
            Email: nrodrig1@gmail.com
          </div>
  
          <div class="handle_std">
            <a href="{{ url_for('main.more_about_me', _anchor='resume') }}">Resume/CV</a>
          </div>
        </div><!-- handles_div_sub -->
        </div><!-- handles_div -->

      </div><!-- grid4_handles_div -->

      <div class="grid5_blog">
        <div class="std_framing">


          <div class="grid5_blog_title_super">
            <div class="grid5_blog_title">Blog: Peak of <i>MT Stupid</i></div>
              <div class="what_is_this_super">
                <a href="https://medium.com/towards-data-science/my-technical-writing-journey-14ea1ca18e79">
                  <div class="what_is_this">
                    What is "MT Stupid"?
                  </div><!-- what_is_this -->
                </a>
              </div><!-- what_is_this_super -->


            <!-- <div class="grid5_blog_title_sub">
              (<i>Mostly things I've barely learned and trying to fortify in my mind</i>)
            </div> -->
            
          </div><!-- grid5_blog_title -->



          {% for post in blog_posts_list %}
        <div class="blogpost_super">
          <a href="{{ url_for('blog.view_post', post_id_name_string=post[3]) }}">
        
            <div class="blogpost">
            <div class="blogpost_date">
              {{ post[0] }}
            </div>
            
            
            <div class="blogpost_title">
              {{ post.1 }}
            </div>
            
            
            <div class="blogpost_description">
              {{ post.2 }}
            </div>
            
            
          </div>
        </a>
        </div>


        {% endfor %}
        </div>

      </div><!-- grid5_blog -->


    </div><!-- home_page_sub -->
  </div><!-- home_page -->
</div><!-- main -->

{% endblock %}