/* Admin DB Page */
.admin_page {
  width: 90%;
  padding: 3rem 0 0 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .title {
    width: 100%;
  }
  .home_buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 1rem;
    width: 100%;
  }

  .div_button {
    // margin: 0 0 0 0;
    padding: 1rem 0 1rem 0;
    width: 100%;
    border-radius: 3rem;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
  }

  .home_register {
    background-color: var(--bs-primary);
    border: solid var(--bs-primary);
    border-width: .5rem;
    color: var(--bs-gray-200);
    margin-bottom: 1rem;
    text-decoration: none;
  }

  .home_login {
    color: var(--bs-primary);
    border: solid var(--bs-primary);
    border-width: .5rem;
    text-decoration: none;

  }
}

/* Admin DB DOWNload Page */
.admin_db_download_page {
  width: 90%;
  padding: 3rem 0 0 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .title {
    width: 100%;
  }

  .admin_db_sub {
    // padding: 2rem 5rem 2rem 5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .download_db_tables_form{padding:1rem;}

  .ul_no_bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }

  .download_options{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 0 3rem;
  }


}



/* Admin DB UPload Page */
.admin_db_upload_table_page {
  width: 90%;
  padding: 3rem 0 0 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .title {
    width: 100%;
  }


  .admin_db_sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: 50rem;
    height: 100vh;
  }
  .section_div {
    width: 100%;
    padding:1rem;
  }
  .section_div_sub {
    width: 97%;
    padding:1rem;
  }

  .details{
    padding: 1rem;
  }

  .download_db_tables_form{
    padding:1rem;

    .upload_input{width:100%;}
    .missing{background-color: var(--bs-warning);}
  }
  .btn_div{
    display: flex;
    justify-content: end;
  }
  .ul_no_bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }
  .white_bkground{
    background-color: var(--bs-gray-100);
    border-radius: .25rem;
    padding:0 .25rem;
  }

  .input_div_for_new_data{
    display: flex;
  }
}


