@use "custom";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');


:root {
  --social_icon_img_height: 5vh;
  --nick_page_theme_font_color: --bs-gray-900;
  --std_framing_border_color: rgba(233, 84, 32, .6);
  --normal_font_size: 1.25rem;
}

body {
  background-color: var(--bs-gray-400);
  font-family: 'Roboto Slab', serif;
}

.std_framing {
  border: 1px solid var(--std_framing_border_color);
  border-width: .5em;
  border-radius: 3rem;
  background-color: var(--bs-gray-500);
  // padding: 1rem 0 1rem 0;
  padding: 1rem;
  color: var(--nick_page_theme_font_color);
  // width: 100%;
  font-size: var(--normal_font_size)
}

.main {
  padding: 5rem 1rem 5rem 1rem;
}

// .grid-col-span-2 {
//   grid-column: span 2;
// }

.home_page {
  .home {
    display: grid;
    gap: 1rem;
  }

  .page_name {
    display: flex;
  }

  .image_div_lg {
    display: none;
  }

  .hide_small {
    display: none
  }

  .bio_and_ws {
    display: grid;
    gap: 1rem;
    height: 100%;

    .page_title {
      padding: 1rem 0 0 3rem;

      h1 {
        font-size: 4rem;
      }

      display: flex;
      justify-content: center;
    }

    .bio_div_sub {
      display: flex;
      align-items: center;
      // justify-content: center;
      height: 100%;
    }

    .bio_div_sub_non_title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;


      .bio_words {
        padding-left: 1rem;

        // display:flex;
        // // justify-content: space-between;
        // align-items: center;
        // flex-wrap: wrap;
        .bio_paragraph {
          padding-top: .5rem;

          .link_to_rest_small {

            // display: flex;
            // align-items: end;
            // height:min-content;
            a {
              padding-left: .3rem;
              text-decoration: none;
              color: var(--bs-orange);
              font-size: 1.25rem;
            }

            a:hover {
              // border: .5rem solid var(--bs-orange);
              // border-radius: 1.75rem;
              font-size: 1.5rem;
              color: white;
            }
          }
        }
      }
    }

    .image_me_small {
      height: 8rem;
      border-radius: 3rem;
      float: left;
      // margin: 5px;
      margin: 0 5px 0 -10px;
    }


    .div_link_to_rest {
      display: none
    }

    /* link to rest working well before */
    // .div_link_to_rest {
    //   display: flex;
    //   justify-content: end;
    //   align-items: end;
    //   height:100%;


    //   a {
    //     padding-left: .3rem;
    //     text-decoration: none;
    //     color: var(--bs-orange);
    //     font-size: 1.25rem;
    //   }
    //   a:hover {
    //     // border: .5rem solid var(--bs-orange);
    //     // border-radius: 1.75rem;
    //     font-size: 1.5rem;
    //     color: white;
    //   }
    // }

    .ws_div {
      display: flex;
      flex-wrap: wrap;
      // flex-flow: column;
      align-items: center;
      justify-content: center;

      // width: 100%;
      .center_me_2 {
        padding-left: 1rem;

        .ws_paragraph {
          padding-top: .5rem;
        }
      }

    }


  }

  .ws_logo_small {
    height: 8rem;
    float: right;
  }

  .recent_posts {
    display: grid;
    gap: 1rem;
    border-radius: 3rem;
    background-color: var(--bs-gray-500);
    padding: 2rem 1rem;

    .recent_posts_title {
      font-size: 1.1rem;
    }

    a {
      // color: blue;
      text-decoration: none;
      /* no underline */
      color: var(--nick_page_theme_font_color);
    }

    a:hover {

      border: .5rem solid var(--bs-orange);
      // border-width: 1em;
      border-radius: 1.75rem;

    }

    .posts_dict_frame {
      border-radius: 1rem;
      // background-color: var(--bs-orange);
      border: 1px solid var(--bs-orange);
      border-width: .25em;
      padding: 1rem;
      height: 5rem;
    }

    .standard_social {
      display: flex;
      flex-wrap: wrap;
      border-radius: 1rem;
      // border: .25em solid;
      padding: 1rem;
      color: var(--nick_page_theme_font_color);

      .img_social_icon {
        display: flex;
        align-items: center;

        img {
          height: var(--social_icon_img_height)
        }
      }

      .sub_title {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }

      .sub_title_date {
        color: var(--bs-gray-200);
        width: 100%;
      }

      .sub_post {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
      }
    }

    .Twitter {
      // background-color: var(--bs-blue);
      background-color: rgba(0, 123, 255, .6);
    }

    .Stackoverflow {
      background-color: rgba(233, 84, 32, .6);
    }

    .Github {
      background-color: rgba(0, 0, 0, .6);
      color: white;

      .span_dark {
        color: var(--bs-gray-400)
      }
    }

    .Goodreads {
      background-color: rgba(111, 78, 55, .6);
    }

    .bubble_count {
      background: rgba(0, 0, 0, 0.0);
      border: .25em dotted;
      border-radius: 1rem;
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      height: 4vh;

      .bubble_title {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-size: 1rem;
      }

      .img_social_icon {
        // img {height: var(--social_icon_img_height)}
        // margin-top: -1.1rem;
        // padding-right: 1rem;
        display: flex;
        align-items: center;


        img {
          height: 2.5vh
        }
      }
    }

    .div_link_to_rest {
      display: flex;
      justify-content: end;
      font-size: var(--normal_font_size);

      a {
        padding-left: .3rem;
        color: var(--bs-orange);
        font-size: var(--normal_font_size);
      }

      a:hover {
        // border: .5rem solid var(--bs-orange);
        // border-radius: 1.75rem;
        font-size: 1.5rem;
        color: white;
        border: none;
      }

    }
  }

  .handles_div {
    // display:grid;
    display: flex;
    flex-wrap: wrap;
    // width: 100%;
    background-color: var(--bs-gray-500);

    // .handles_div_title {
    //   width: 100%;
    //   font-size: 1.9vh;
    //   padding-bottom: .5rem;
    // }

    .handle_std {
      // font-size: 1.9vh;
      font-size: var(--normal_font_size);
      width: 100%;
      padding-left: 1rem;
    }
  }
}


.rest_of_posts {


  .div_link_to_home {
    padding: 0 0 1rem 1rem;
  }

  .ws_logo_small {
    height: 8rem;
    float: right;
  }

  .recent_posts {
    display: grid;
    // display:flex;
    gap: 1rem;
    border-radius: 3rem;
    background-color: var(--bs-gray-500);
    padding: 2rem 1rem;

    // .recent_posts_title {
    //   font-size: vaar;
    // }

    a {
      // color: blue;
      text-decoration: none;
      /* no underline */
      color: var(--nick_page_theme_font_color);
    }

    a:hover {

      border: .5rem solid var(--bs-orange);
      // border-width: 1em;
      border-radius: 1.75rem;

    }

    .posts_dict_frame {
      border-radius: 1rem;
      // background-color: var(--bs-orange);
      border: 1px solid var(--bs-orange);
      border-width: .25em;
      padding: 1rem;
      height: 5rem;
    }

    .standard_social {
      display: flex;
      flex-wrap: wrap;
      border-radius: 1rem;
      // border: .25em solid;
      padding: 1rem;
      color: var(--nick_page_theme_font_color);

      .img_social_icon {
        img {
          height: var(--social_icon_img_height)
        }
      }

      .sub_title {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }

      .sub_title_date {
        color: var(--bs-gray-200);
        width: 100%;
      }

      .sub_post {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
      }
    }

    .Twitter {
      // background-color: var(--bs-blue);
      background-color: rgba(0, 123, 255, .6);
    }

    .Stackoverflow {
      background-color: rgba(233, 84, 32, .6);
    }

    .Github {
      background-color: rgba(0, 0, 0, .6);
      color: white;

      .span_dark {
        color: var(--bs-gray-400)
      }
    }

    .Goodreads {
      background-color: rgba(111, 78, 55, .6);
    }

    .pagination_parent {
      display: flex;
      justify-content: end;
      padding: 3rem 5rem 0 0;
      font-size: large;
    }

    .pagination_section {
      position: relative;

    }

    .pagination_section a {
      color: black;
      padding: 10px 8px;
      text-decoration: none;
    }

    .pagination_section a:hover:not(.active) {
      color: white
    }

    .active {
      border: 3px solid black;
    }


  }

  .pagination_show {
    display: flex;
    justify-content: end;
  }
}

.more_about_me {

  .div_link_to_home {
    padding: 0 0 1rem 1rem;
  }

  a:hover {
    font-size: 1.5rem;
    color: var(--bs-gray-100)
  }

  .my_bio_div {
    display: grid;
    // display:flex;
    gap: 1rem;
    border-radius: 3rem;
    background-color: var(--bs-gray-500);
    padding: 2rem 1rem;

    // .recent_posts_title {
    //   font-size: var(--normal_font_size)
    // }
    .bio_paragraph {
      padding-top: .5rem;
    }

    a {
      padding-left: .3rem;
      text-decoration: none;
      color: var(--bs-orange);
      font-size: 1.25rem;
    }

    a:hover {
      // border: .5rem solid var(--bs-orange);
      // border-radius: 1.75rem;
      font-size: 1.5rem;
      color: white;
    }


  }
}

//For Screen wider than 992 (lg)
@media only screen and (min-width: 300px) {
  .home_page {
    .recent_posts {
      .recent_posts_title {
        font-size: var(--normal_font_size);
      }
      .bubble_count {

        .bubble_title {
          font-size: var(--normal_font_size);
        }

        .img_social_icon {

          img {
            height: 3vh
          }
        }
      }
    }
  }
}

//For Screen wider than 992 (lg)
@media only screen and (min-width: 992px) {

  .home_page {
    .grid-col-span-2 {
      grid-column: span 2;
    }

    .home {
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(3, 1fr);
    }

    .bio_and_ws {
      .page_title {

        // background-color: red;
        // padding: 1rem 0 0 3rem;
        // padding:0;
        // font-size:1rem;
        h1 {
          font-size: 5rem;
          // background-color: red;
        }

        // display: flex;
        // justify-content: center;
      }
    }

    .hide_small {
      display: block
    }

    .image_me_small {
      display: none
    }

    .image_div_lg {
      display: flex;
      justify-content: center;
      height: 30rem;
    }

    .image_me_lg {
      height: 100%;
      border-radius: 3rem;
      // width:fit-content;
    }



    .recent_posts {
      a {
        // color: blue;
        text-decoration: none;
        /* no underline */
        color: var(--nick_page_theme_font_color);
      }

      a:hover {

        border: .5rem solid var(--bs-orange);
        // border-width: 1em;
        border-radius: 1.75rem;

      }
    }

    .handles_div {
      padding: 2rem 0 0 1rem;

      // font-size: 1rem;
      // font-size: 1.7vw;
      // font-size: 3rem;
      // .handles_div_title{font-size: 1.25rem;}
      .handle_std {
        padding: 0 0 0 1rem;
        font-size: 1.5rem;
      }
    }



  }

}